@import '../../Variables';

.meme-container {
  min-height: 40vh;
  display: flex;
  width: 100%;
  max-width: 75rem;
  margin-top: 2rem;
  padding: 4rem 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  transition: all .5s;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin: 1rem;
    width: 100%;

    .meme-input-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      input {
        border: none;
        font-size: 1.6rem;
        margin: 1rem;
        padding: 1rem;
        border-radius: 5px;
        text-indent: 5px;
        min-width: 25rem;
        max-width: 100rem;
        border: 4px solid transparent;
        transition: all .5s;

        &:focus {
          border-radius: 0px;
          outline: none;
          border: 4px solid #e35a98;
        }
      }
    }
  }

  button {
    background: linear-gradient(90deg, #FD6569 22.52%, #D354B4 66.97%, #AC44FB 100%);
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 1rem;
    margin: 1rem;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      background: linear-gradient(90deg, darken(#FD6569, 5) 0%, darken(#D354B4, 5) 47.75%, darken(#AC44FB, 5) 95.98%);
      transform: translateY(-1px);
    }

    &:active {
      background: linear-gradient(90deg, darken(#FD6569, 10) 0%, darken(#D354B4, 10) 47.75%, darken(#AC44FB, 10) 95.98%);
      transform: translateY(1px);
    }
  }

  .meme-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 60rem;
    padding: 5rem;
    margin-bottom: 4rem;
    border-radius: 15px;
    transition: all .5s;

    .meme-text {
      z-index: 3;
      position: absolute;
      text-align: center;
      padding: 1rem;
      max-width: 80%;
      width: fit-content;
      font-family: impact, sans-serif;
      font-size: clamp(1rem, 5vw, 4rem);
      // font-size: 3rem;
      text-transform: uppercase;
      word-wrap: break-word;
      color: white;
      letter-spacing: 1px;
      cursor: pointer;
      text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
      overflow: hidden;
      border: 1px solid transparent;

      &:hover {
        border: 2px dotted #222;
        resize: both;
      }
    }

    @media (hover: none) {
      .showGrabberHandler {
        border: 2px dotted #222;
        resize: both;
      }
    }


    .text-top {
      top: 6rem;
    }

    .text-bottom {
      bottom: 6rem;
    }

    .meme-img {
      width: 100%;
      border-radius: 15px;
    }
  }

  @media only screen and (max-width: 418px) {
    input {
      min-width: 0;
      width: 100%;
    }

    .meme-image-container {
      width: 100%;
      padding: 2rem;

      .meme-img {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0px;
      }

      .text-top {
        top: 1rem;
      }

      .text-bottom {
        bottom: 1rem;
      }
    }
  }
}