.navbarContainer {
  height: 5vh;
  margin: 2rem 0;
  color: #fff;
  font-size: 2rem;
  width: 100%;
  position: relative;

  .navLinkContainer {
    width: 80vw;
    max-width: 100rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s;
    opacity: 1;
  }

  .transformNavLinks {
    opacity: 0;
    transform: translate(-100vw, -50%);
  }

  .toggleContainer {
    width: 80vw;
    max-width: 100rem;
    margin: auto;
    position: relative;
    opacity: 0;
    top: 50%;
    transform: translate(100vw, -150%);
    transition: all .5s;

    .toggle {
      width: 25rem;
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .transformToggle {
    opacity: 1;
    transform: translate(0vw, -150%);
  }

  .arrow {
    position: absolute;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
  }

  .arrowRight {
    right: -10vw;
    margin-right: 1vw;
  }

  .arrowLeft {
    left: -10vw;
    margin-left: 1vw;
  }



  .borderWrapper {
    width: 15rem;
    height: 5rem;
    border-radius: 15px;
    background: linear-gradient(270deg, #FD6569 0%, #D354B4 47.75%, #AC44FB 95.98%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px #222;

    &:hover {
      background: linear-gradient(270deg, darken(#FD6569, 10) 0%, darken(#D354B4, 10) 47.75%, darken(#AC44FB, 10) 95.98%);
    }
    &:active {
      background: linear-gradient(270deg, darken(#FD6569, 15) 0%, darken(#D354B4, 15) 47.75%, darken(#AC44FB, 15) 95.98%);
    }


    .navLink {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      border-radius: 12px;
      background-color: #2b2b2b;
      width: 14rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .randomBtn {
      width: 15rem;
      height: 5rem;
      background-color: transparent;
      background: linear-gradient(270deg, #FD6569 0%, #D354B4 47.75%, #AC44FB 95.98%);

      &:hover {
        background: linear-gradient(270deg, darken(#FD6569, 5) 0%, darken(#D354B4, 5) 47.75%, darken(#AC44FB, 5) 95.98%);
      }
      &:active {
        background: linear-gradient(270deg, darken(#FD6569, 10) 0%, darken(#D354B4, 10) 47.75%, darken(#AC44FB, 10) 95.98%);
        transform: translateY(2px);
      }
    }
  }
}