@import '../../Variables.scss';

.navbarContainer {
  margin: 3rem auto;
  font-size: 2rem;
  width: 80vw;
  max-width: 100rem;
  position: relative;

  .navLinkContainer {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    transition: all .5s;
    opacity: 1;

  }

  @media only screen and (max-width: 490px) {
    .navLinkContainer {
      justify-content: space-around;
    }
  }

  .transformNavLinks {
    opacity: 0;
    transform: translateX(-100vw);
  }

  .toggleContainer {
    height: 100%;
    position: absolute;
    top: 0;
    gap: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    transform: translateX(100vw);
    transition: all .5s;
    visibility: hidden;

    .toggle {
      width: 25rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .transformToggle {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
  }

  .arrowRight {
    right: -10vw;
    margin-right: 1vw;
  }

  .arrowLeft {
    left: -10vw;
    margin-left: 1vw;
  }

  .borderWrapper {
    width: 15rem;
    height: 5rem;
    border-radius: 15px;
    background: linear-gradient(270deg, #FD6569 0%, #D354B4 47.75%, #AC44FB 95.98%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow-dark-a-10;
    transition: all .2s;

    &:hover {
      background: linear-gradient(270deg, darken(#FD6569, 10) 0%, darken(#D354B4, 10) 47.75%, darken(#AC44FB, 10) 95.98%);
      transform: translateY(-1px);
    }

    &:active {
      background: linear-gradient(270deg, darken(#FD6569, 10) 0%, darken(#D354B4, 10) 47.75%, darken(#AC44FB, 10) 95.98%);
      transform: translateY(1px);
    }

    .navLink {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      border-radius: 12px;
      background-color: $bg-dark-main;
      width: 14rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .4s;
    }

    .navLink-light {
      color: inherit;
      background-color: $bg-light-main;
    }

    .randomBtn {
      width: 15rem;
      height: 5rem;
      background-color: transparent;
    }

    .memeGeneratorBtn {
      font-size: 1.6rem;
    }
  }

  .borderWrapper-light {
    box-shadow: $box-shadow-light-a-10;
  }
}

.react-switch {
  img {
    height: 100%;
    width: 100%;
  }
}