.footerClass {
  width: 100%;
  position: relative;
  position: fixed;
  bottom: 0;

  img {
    height: 5rem;
    object-fit: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}