.wrapper {
  text-align: center;
}
.gridContainer__template {
  min-height: 75vh;
  width: 80vw;
  max-width: 100rem;
  margin: auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.501);
  box-shadow: 0 5px 10px #111;
}